.rowA { background: yellow; margin-top: 0px; margin-bottom: 0px;  }
.rowB { background: orange; margin-top: 0px; margin-bottom: 0px; }

div.widget { height: 100%; }
.spacer {clear:both; height: 20px; margin:10px; width:100%; }
a { padding-right:25px; margin-bottom:100px; background-color:yellow; }

.yellow { background: yellow; }
.orange { background: orange; }
.chartreuse { background: Chartreuse; }
.cyan { background: cyan; }
.lightgreen { background: lightgreen; }
.pink { background: pink; }

.container { background: HoneyDew; height:auto;}
.hidden_holding_area { display: none; }
.tape { display:none; width:20%; background: white; }
.stack  { background: #c6ff9b;}
.cmd    { background: #909990;}
.keypad { background: #D8E6D8;}
.custom { background: #A8B2A8;}
.canvas { background: #ddba5f;}


.float50 { float:left; width:50%; }
.float33 { float:left; width:33.3%; }
.float66 { float:left; width:66.6%; }

.layout_mode { background: orange }
div#debug_area {background: #97d8fc; padding: 0.5em;}
