/**** RPN STACK FORMATTING ****/

#rpnstack2 {
    height: 5.75em;
    background-color: #d8f5b8;
    overflow-y: scroll;
    overflow-x: hidden;

    /* COMMENT bottom align the ul - part 1 of 2*/
    /* NOTE the position relative seems harmless in and of itself .*/
    /*position: relative;*/
}

#rpnstack2 ul {
    list-style: none;
    margin: 0;
    padding: 0;

    /*experimental - yes it works but we can't afford to fix the height of ul*/
    /*height: 5.75em;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/

    /*COMMENT bottom align the ul - part 2 of 2*/
    /* NOTE the position absolute clips the li items.*/
    /* NOTE the bottom 0 prevents scrolling using the mouse*/
    /*background-color: pink;*/
    /*position: absolute;*/
    /*bottom: 0;*/
}

#rpnstack2 li {
    /* set the background color, and shift in from the left */
    background: #d8f5b8;
    color: black;
    font-size: 1.1em;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 2px;
}

span.stack_index {
    color: darkgrey;

}