/**** RPN STACK FORMATTING ****/

#rpnstack2 {
    /* make the list scrollable within a max height */
    height: 5.75em;
    overflow: scroll;
    overflow-x: hidden;
}

ul#rpnstack2 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#rpnstack2 li {
    /* set the background color, and shift in from the left */
    background: #d8f5b8;
    color: black;
    font-size: 1.1em;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 2px;
}

