<!doctype html>
<html>
<head>
    <title>jsrpncalc2 relaxed approach with responsive design</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />-->

    <link rel="stylesheet" href="js/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/rpnstack.css">

</head>
<body ng-app="myApp">

<div data-role="page" id="col_layouts" ng-controller="ViewOptionsController">

<div data-role="content">


<div data-role="popup" id="popupViewOptions" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="A" id="radio-choice-full" ng-model="viewoptions.layout_mode" value="full"
                       checked="checked">
                <label for="radio-choice-full">full</label>

                <input type="radio" name="A" id="radio-choice-stack_only" ng-model="viewoptions.layout_mode"
                       value="stackonly">
                <label for="radio-choice-stack_only">stack only</label>

                <input type="radio" name="A" id="radio-choice-canvas_only" ng-model="viewoptions.layout_mode"
                       value="canvasonly">
                <label for="radio-choice-canvas_only">canvas only</label>

                <input type="checkbox" id="checkbox-printout_tape" ng-model="tape_mode" data-mini="true">
                <label for="checkbox-printout_tape">tape</label>

                <input type="checkbox" id="checkbox-show_keypad" ng-model="show_keypad" data-mini="true">
                <label for="checkbox-show_keypad">keypad</label>
            </fieldset>
        </div>
    </form>
    <p>
        <a href="#options">Programming Editor</a>
        <a href="#" ng-click="show_debug = !show_debug">Debug toggle</a>
    </p>
</div>

<div id="debug_area" ng-show="show_debug">
    <p>
        layout_mode = <b>{{ viewoptions.layout_mode }}</b>
        num_cols = <b>{{ viewoptions.num_cols }}</b>
        tape_mode = <b>{{ tape_mode }}</b>
    </p>
    <a href="#" ng-click="viewoptions.layout_mode = 'full'">full</a>
    <a href="#" ng-click="viewoptions.layout_mode = 'stackonly'">stackonly</a>
    <a href="#" ng-click="viewoptions.layout_mode = 'canvasonly'">canvasonly</a>
    <br>
    <a href="#" ng-click="viewoptions.num_cols = 1">1col</a>
    <a href="#" ng-click="viewoptions.num_cols = 2">2col</a>
    <a href="#" ng-click="viewoptions.num_cols = 3">3col</a>
    <br>
    <a href="#" ng-click="show_all_layouts()">show all layouts</a>

    <a href="#" ng-click="tape_mode = !tape_mode">tape toggle</a>
    <br>
    <a href="#" ng-click="viewoptions.layout_mode = 'full'; viewoptions.num_cols = 1">1col-full V2</a>
    <a href="#" ng-click="go('full', 1)">1col-full</a>
    <a href="#" ng-click="go('full', 2)">2col-full</a>
    <a href="#" ng-click="go('full', 3)">3col-full</a>
    <br>
    <a href="#" ng-click="go('stackonly', 1)">1col-stack_only</a>
    <a href="#" ng-click="go('stackonly', 2)">2col-stack_only</a>
    <a href="#" ng-click="go('stackonly', 3)">3col-stack_only</a>
    <br>
    <a href="#" ng-click="go('canvasonly', 1)">1col-canvas_only</a>
    <a href="#" ng-click="go('canvasonly', 2)">2col-canvas_only</a>
    <a href="#" ng-click="go('canvasonly', 3)">3col-canvas_only</a>
</div>
<!-- debug area -->

<div data-role="popup" id="popupRpnCmds" ng-controller="RpnStackManipulation" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="chs()">+/-</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="push(10)">push(10)</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="random_num()">random num</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="drop()">drop</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="dup()">dup</a>
                <br>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="swap()">swap</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="rdn()">rdn</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="rup()">rup</a>
                <br>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="increase_visible_stack()">increase visible stack</a>
                <a href="#" class="ui-btn ui-mini ui-btn-inline ui-shadow ui-corner-all" ng-click="decrease_visible_stack()">decrease visible stack</a>
            </fieldset>
        </div>
    </form>

</div>

<div class="layout_templates">

    <div class="container full-1col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="stack"></div>
                    <div class="cmd"></div>
                    <div class="keypad"></div>
                    <div class="canvas"></div>
                    <div class="custom"></div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container stackonly-1col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="stack"></div>
                    <div class="cmd"></div>
                    <div class="keypad"></div>
                    <div class="custom"></div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container canvasonly-1col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="canvas"></div>
                    <div class="cmd"></div>
                    <div class="custom"></div>
                </td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="container full-2col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="col1 col float50">
                        <div class="stack"></div>
                        <div class="cmd"></div>
                        <div class="keypad"></div>
                    </div>
                    <div class="col2 col float50">
                        <div class="canvas"></div>
                        <div class="custom"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container stackonly-2col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="col1 col float50">
                        <div class="stack"></div>
                        <div class="cmd"></div>
                        <div class="keypad"></div>
                    </div>
                    <div class="col2 col float50">
                        <div class="custom"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container canvasonly-2col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="col1 col float50">
                        <div class="canvas"></div>
                    </div>
                    <div class="col2 col float50">
                        <div class="cmd"></div>
                        <div class="custom"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="container full-3col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="col1 col float33">
                        <div class="stack"></div>
                        <div class="cmd"></div>
                        <div class="keypad"></div>
                    </div>
                    <div class="col2 col float33">
                        <div class="canvas"></div>
                    </div>
                    <div class="col3 col float33">
                        <div class="custom"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container stackonly-3col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="col1 col float33">
                        <div class="stack"></div>
                    </div>
                    <div class="col2 col float33">
                        <div class="cmd"></div>
                        <div class="keypad"></div>
                    </div>
                    <div class="col3 col float33">
                        <div class="custom"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container canvasonly-3col">
        <table>
            <tr>
                <td class="tape">_tape</td>
                <td class="calc">
                    <div class="col1 col float66">
                        <div class="canvas"></div>
                    </div>
                    <div class="col2 col float33">
                        <div class="cmd"></div>
                        <div class="custom"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- layouts -->

<div class="hidden_holding_area">
    <div class="holding_area"></div>

    <div id="stack" ng-controller="RpnStackController" class="widget">
        <ul>
            <li ng-repeat="item in stack">
                <span class="stack_index">[{{stack.length - $index}}]</span> {{item.val}}  <span class="stack_item_type">[{{item.type}}]</span>
            </li>
        </ul>
    </div>

    <div id="cmd" class="chartreuse">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <input type="text" id="current_cmd"/>
            </div>
            <div class="ui-block-b">
                <a href="#popupViewOptions" data-rel="popup" data-transition="pop" data-position-to="origin"
                   class="ui-btn-icon-notext ui-btn ui-corner-all ui-icon-gear ui-btn-a"></a>
            </div>
        </div>

    </div>

    <div id="canvas" class="orange widget">Canvas</div>

    <div id="keypad" class="cyan widget" data-role="collapsible" data-collapsed="false">
        <div class="ui-body ui-body-d">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="clickEnter">ENTER</a>
                </div>
                <div class="ui-block-b">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="clickAC">AC</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="clickC">C</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-grid-c">
                <div class="ui-block-a">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click7">7</a>
                </div>
                <div class="ui-block-b">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click8">8</a>
                </div>
                <div class="ui-block-c">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click9">9</a>
                </div>
                <div class="ui-block-d">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click_divide">/</a>
                </div>
            </div>
            <div class="ui-grid-c">
                <div class="ui-block-a">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click4">4</a>
                </div>
                <div class="ui-block-b">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click5">5</a>
                </div>
                <div class="ui-block-c">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click6">6</a>
                </div>
                <div class="ui-block-d">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click_times">*</a>
                </div>
            </div>
            <div class="ui-grid-c">
                <div class="ui-block-a">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click1">1</a>
                </div>
                <div class="ui-block-b">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click2">2</a>
                </div>
                <div class="ui-block-c">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click3">3</a>
                </div>
                <div class="ui-block-d">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click_minus">-</a>
                </div>
            </div>
            <div class="ui-grid-c">
                <div class="ui-block-a">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click0">0</a>
                </div>
                <div class="ui-block-b">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click_dot">.</a>
                </div>
                <div class="ui-block-c">
                    <a href="#popupRpnCmds" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click_rpn"
                            data-rel="popup" data-transition="pop" data-position-to="origin">RPN</a>

                </div>
                <div class="ui-block-d">
                    <a href="#" class="ui-btn ui-mini ui-shadow ui-corner-all" id="click_add">+</a>
                </div>
            </div>
        </div>
    </div>

    <div id="custom" class="pink widget">
        <button id="go_editor" class="ui-btn ui-mini ui-btn-inline" data-theme="b">Editor</button>
        <a href="#options" class="ui-btn-icon-notext ui-btn ui-corner-all ui-icon-gear ui-btn-a ui-btn-inline"></a>

        <div class='item' id='customKeysPage'>
        </div>
        <button class="ui-btn ui-mini ui-btn-inline">Custom Button</button>
        <button class="ui-btn ui-mini ui-btn-inline">Pi</button>
        <button class="ui-btn ui-mini ui-btn-inline">Another Button</button>
        <button class="ui-btn ui-mini ui-btn-inline">Custom 123</button>
        <button class="ui-btn ui-mini ui-btn-inline">AA</button>
        <button class="ui-btn ui-mini ui-btn-inline">BB</button>
        <button class="ui-btn ui-mini ui-btn-inline">Button</button>
        <button class="ui-btn ui-mini ui-btn-inline">Button000</button>
        <button class="ui-btn ui-mini ui-btn-inline">123</button>
        <button class="ui-btn ui-mini ui-btn-inline">Pop</button>
        <button class="ui-btn ui-mini ui-btn-inline">Push Array</button>
        <button class="ui-btn ui-mini ui-btn-inline">Calc</button>
        <button class="ui-btn ui-mini ui-btn-inline">Quantum</button>
        <button class="ui-btn ui-mini ui-btn-inline">Loop 1</button>
        <button class="ui-btn ui-mini ui-btn-inline">Demo 1</button>
        <button class="ui-btn ui-mini ui-btn-inline">Demo 2</button>
        <button class="ui-btn ui-mini ui-btn-inline">run_animation</button>
        <button class="ui-btn ui-mini ui-btn-inline">Exp</button>
    </div>
</div>
<!-- hidden_holding_area -->


</div>
<!-- content -->
<div data-role="footer">
    <h4>Page Footer</h4>
</div>
</div>
<!-- /page -->


<!-- Start of second page -->
<div data-role="page" id="options">

    <div data-role="header">
        <h1>options</h1>
        <a href="#col_layouts" data-icon="home">Back to Calc</a>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">


        <a id="btnReparse" data-role="button" data-inline=true data-mini="true" data-theme="b">Re-Parse</a>
        <div id="someDiv">
            ENTER YOUR CODE HERE:
            <textarea id="code" name="code" data-role="none" style="height: 40em; width: 30em;">
function fred() {}
function mary() {alert('hi there'); }
function sam(a) { var x = 200; alert(x+a); }
function Pi() { return Math.PI; }

function add(a,b) { return a+b; }
function say_hi() { return "hi"; }
function say_hi2() { console.log(rpn); rpn.pusher(1000); }
function logloop1(n) { for (i=1;i<=n;i++) { rpn.pusher([i, Math.log(i)]); } }
function randy1() { return Math.random(); }
function lenarray(lzt) { return lzt.length; }
function gen(n) { var arra=[]; for (i=1;i<=n;i++) { arra.push(i); } console.log(arra); return arra;}
function gen5() { return gen(5); }

            </textarea>
        </div>

        <form>
            <label for="slider-0">Input slider:</label>
            <input type="range" name="slider" id="slider-0" value="25" min="0" max="100"/>
        </form>

    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->


<script src="phonegap.js"></script>
<script src="js/jquery-2.1.0.js"></script>
<script src="js/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>

<!-- Angular -->
<script src="js/angular-1.2.9.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>

<script src="js/layout.js"></script>
<script src="js/rpnstack2.js"></script>
<script src="js/keypad.js"></script>

<!-- Syntax Highlighting ver 2.3 -->
<script type='text/javascript' src="js/codemirror-2.34/codemirror.js"></script>
<link rel="stylesheet" type="text/css" href="js/codemirror-2.34/codemirror.css">
<script type='text/javascript' src="js/codemirror-2.34/codemirror.javascript.js"></script>

<!-- Javascript parsing -->
<script type='text/javascript' src="js/esprima.js"></script>
<script type='text/javascript' src="js/jsparser2.js"></script>

<!--Button building and executing-->
<script src="js/custom_button_mgr2.js"></script>
<script src="js/cmd_executor.js"></script>

<!--Misc coordinating controllers and utils-->
<script src="js/calc_mediators.js"></script>

<!-- Main -->
<script src="js/index.js"></script>

</body>
</html>
