<!doctype html>
<html>
<head>
    <title>jsrpncalc2</title>
    
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />-->

		<link rel="stylesheet" href="js/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
</head>
<body ng-app>

<div data-role="page" id="main">

    <div data-role="header">
        <h1>jsrpncalc2 main</h1>
    </div>
    <!-- /header -->

    <div data-role="content">

        <p><a href="#foo">Goto Page 1</a></p>
        <p><a href="#bar">Goto Page 2</a></p>
        <a href="#popupViewOptions" data-rel="popup" data-transition="pop" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">View Options...</a>

        <div data-role="popup" id="popupViewOptions" data-theme="a" class="ui-corner-all">
            <form>
                <div style="padding:10px 20px;">
                    <h3>Gui elements</h3>
                    <fieldset data-role="controlgroup">
                        <legend>Top Row:</legend>
                        <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a" class="needsclick">
                        <label for="checkbox-v-2a">RPN Stack</label>
                        <input type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b" class="needsclick">
                        <label for="checkbox-v-2b">Html Canvas</label>
                        <input type="checkbox" name="checkbox-v-2c" id="checkbox-v-2c" class="needsclick">
                        <label for="checkbox-v-2c">Printer Tape</label>
                    </fieldset>
                </div>
            </form>
        </div>

        <div class="ui-grid-b ui-responsive">
            <!-- Lead story block -->
            <div class="ui-block-a">
                <div class="ui-body ui-body-d">
                    <h2>Apple schedules 'iPad Mini' event for October 23</h2>
                    <div class="ui-field-contain">
                        <fieldset data-role="controlgroup">
                            <legend>Vertical controlgroup, checkbox:</legend>
                            <input type="checkbox" name="checkbox-v-1a" id="checkbox-v-1a" class="needsclick">
                            <label for="checkbox-v-1a">One</label>
                            <input type="checkbox" name="checkbox-v-1b" id="checkbox-v-1b" class="needsclick">
                            <label for="checkbox-v-1b">Two</label>
                            <input type="checkbox" name="checkbox-v-1c" id="checkbox-v-1c" class="needsclick">
                            <label for="checkbox-v-1c">Three</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!-- secondary story block #1 -->
            <div class="ui-block-b">
                <div class="ui-body ui-body-d">
                    <h4>Microsoft Surface tablet goes on sale for $499</h4>
                    <p>The Microsoft Surface tablet picture has come into focus. The Redmond giant filled in the blanks on the new tablet's availability and specs.</p>
                </div>
            </div>
            <!-- secondary story block #2 -->
            <div class="ui-block-c">
                <div class="ui-body ui-body-d">
                    <h4>AOL unveils Alto, an email service that syncs 5 accounts</h4>
                    <p>AOL, struggling to shed its outdated image, is reimagining one of the most visibly aging parts of its platform: Its email service. </p>
                </div>
            </div>
        </div><!-- /rwd-example -->


        <div class="ui-grid-a">
            <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Block A</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
        </div><!-- /grid-a -->

        <div class="ui-grid-b ui-responsive">
            <div class="ui-block-a"><a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back to order</a></div>
            <div class="ui-block-b"><input type="button" data-icon="plus" value="Add products"></div>
            <div class="ui-block-c"><input type="button" data-icon="check" data-iconpos="right" value="Confirm order"></div>
        </div>


    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4>My Footer</h4>
    </div>
    <!-- /footer -->

</div>
<!-- /page -->



<div data-role="page" id="foo">

    <div data-role="header">
        <h1>jsrpncalc2</h1>
    </div>
    <!-- /header -->

    <div data-role="content">
        <p ng-show="sometext" ng-cloak>Hello world {{ sometext | uppercase }}</p>
        <input type="text" ng-model="sometext" />

        <p><a href="#main">Back to main</a></p>
        <p><a href="#bar">Goto Page 2</a></p>

		<div ng-controller="AndyController">
		   <!-- Main input -->
			<input type="text" ng-model="newcontact"/>
		   <!-- Key buttons -->
		   <div class="ui-grid-b">
			   <div class="ui-block-a">
			   		<a href="#" class="ui-btn ui-shadow ui-corner-all" ng-click="click1(1)">1</a>
			   </div>
			   <div class="ui-block-b">
			   		<a href="#" class="ui-btn ui-shadow ui-corner-all" ng-click="click1(2)">2</a>
			   </div>
			   <div class="ui-block-c">
			   		<a href="#" class="ui-btn ui-shadow ui-corner-all" ng-click="click1(3)">3</a>
			   </div>
		   </div>
		   <!-- Add / Clear -->
		   <div class="ui-grid-a ui-responsive">
			   <div class="ui-block-a">
				   <a href="#" class="ui-btn ui-btn-b ui-shadow ui-corner-all" ng-click="add()">Add</a>
			   </div>
			   <div class="ui-block-b">
				   <a href="#" class="ui-btn ui-btn-b ui-shadow ui-corner-all" ng-click="zap()">Clear</a>
			   </div>
		   </div>
			<!-- list of items added, automatically rendered by angular -->
			<ul>
				<li ng-repeat="contact in contacts track by $index" ng-bind-html-unsafe="contact" ng-cloak>
				{{ contact }}
				</li>
			</ul>
		</div>

		<!-- Key buttons (non angular, to see if its faster) -->
        <div>
			<input type="text" id="current"/>
            <div class="ui-grid-b">
                <div class="ui-block-a">
                     <a href="#" class="ui-btn ui-shadow ui-corner-all" id="click4">4</a>
                </div>
                <div class="ui-block-b">
                     <a href="#" class="ui-btn ui-shadow ui-corner-all" id="click5">5</a>
                </div>
                <div class="ui-block-c">
                     <a href="#" class="ui-btn ui-shadow ui-corner-all" id="click6">6</a>
                </div>
            </div>
            <div class="ui-grid-b">
                <div class="ui-block-a">
                     <a href="#" class="ui-btn ui-shadow ui-corner-all" id="click7">7</a>
                </div>
                <div class="ui-block-b">
                     <a href="#" class="ui-btn ui-shadow ui-corner-all" id="click8">8</a>
                </div>
                <div class="ui-block-c">
                     <a href="#" class="ui-btn ui-shadow ui-corner-all" id="click9">9</a>
                </div>
            </div>
		</div>


    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4>My Footer</h4>
    </div>
    <!-- /footer -->

</div>
<!-- /page -->


<!-- Start of second page -->
<div data-role="page" id="bar">

    <div data-role="header">
        <h1>Bar</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        <p>I'm the second in the source order so I'm hidden when the page loads. I'm just shown if a link that
            references my id is being clicked.</p>

        <p><a href="#main">Back to main</a></p>
        <p><a href="#foo">Back to page 1</a></p>

        <form>
            <label for="slider-0">Input slider:</label>
            <input type="range" name="slider" id="slider-0" value="25" min="0" max="100"/>
        </form>

    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->

	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script src="js/jquery-2.1.0.js"></script>

	<script src="js/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
	<script src="js/angular-1.2.9.min.js"></script>
    <!--<script src="js/angular-touch-1.2.9.min.js"></script>-->
	<script type='application/javascript' src='js/fastclick.js'></script>
	<script type="text/javascript">
		$(function() {
            // Huh? we don't need this as normal buttons are fast enough?
            // Plus fastclick inteferes with a few things.  need to add needsclick in places, and even then
            // we get residual blue halos around checkboxes etc.
			//FastClick.attach(document.body);
		});
        //angular.module('myApp', ['ngTouch']);  // doesn't seem to help
	    app.initialize();

		function AndyController($scope) {
			$scope.contacts = ["hi@email.com", "hello@email.com"];
 			$scope.newcontact = "";
 
			$scope.add = function() {
				$scope.contacts.push($scope.newcontact);
				$scope.newcontact = "";
				console.log($scope.contacts);
			}

			$scope.zap = function() {
				$scope.contacts = [];
				$scope.newcontact = "";
			}

			$scope.click1 = function(key) {
				$scope.newcontact += key;
			}
		}

        // Wire up the non angular buttons and input box
        var current_in = $('#current');
        var btns = $('#click4,#click5,#click6');
        var btns2 = $('#click7,#click8,#click9');

        var mLastClickTime = 0;
        var lastDigit = '';

        function appendDigit(s) {
            current_in.val(current_in.val() + s).keyup();
        }
        btns.on('vmousedown', function(event, ui) {

            // $.vmouse.resetTimerDuration (default: 1500ms) – More time than this, then it is not a touch event. Scroll, TouchMove and TouchEnd events use this. The block list is cleared.

//            if (event.target.text == lastDigit && new Date().getTime() - mLastClickTime < 1000){
//                console.log('prevented a double!! ' + event.target.text);
//                return;
//            }
//            mLastClickTime = new Date().getTime();
//            lastDigit = event.target.text;
            event.preventDefault();

            appendDigit(event.target.text);
            if (current_in.val().length > 25)
                current_in.val('');
        });
        btns2.on('click', function(event, ui) {


            appendDigit(event.target.text);
            if (current_in.val().length > 25)
                current_in.val('');
        });



	</script>
        
</body>
</html>