<!doctype html>
<html>
<head>
    <title>angular rpn stack</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />-->

    <link rel="stylesheet" href="js/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
    <link rel="stylesheet" href="css/rpnstack.css">
</head>
<body ng-app="myApp">

<div data-role="page" id="rpnstacktest">

    <div data-role="header">
        <h1>test rpn stack</h1>
    </div>
    <!-- /header -->

    <div data-role="content" ng-controller="RpnStackController">
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="enter()">enter</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="drop()">drop</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="dup()">dup</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="swap()">swap</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="rdn()">rdn</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="rup()">rup</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="increase_visible_stack()">increase visible stack</a>
        <a href="#" class="ui-btn ui-btn-inline ui-shadow ui-corner-all" ng-click="decrease_visible_stack()">decrease visible stack</a>
        <input type="range" name="slider-3" id="slider-3" data-role="none" min=2 max=20 ng-model="stack_height">
        I have {{stack.length}} elements in the stack. They are:

        <div id="stack">
            <ul>
                <li ng-repeat="item in stack">
                    <span class="stack_index">[{{stack.length - $index}}]</span> {{item.val}}  [{{item.type}}]
                </li>
            </ul>
        </div>

        <hr>

        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="item in stack">
                [{{stack.length - $index}}] {{item.val}}  [{{item.type}}]
            </li>
        </ul>

    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4>My Footer</h4>
    </div>
    <!-- /footer -->

</div>
<!-- /page -->

<script src="phonegap.js"></script>
<script src="js/jquery-2.1.0.js"></script>
<script src="js/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
<script src="js/angular-1.2.9.min.js"></script>
<script type="text/javascript">

    //app.initialize();
    var myApp = angular.module('myApp', []);

</script>
<script src="js/rpnstack2.js"></script>

</body>
</html>